* {
    margin: 0;
    padding: 0;
}
a,
a:hover{
    text-decoration: none !important;
}
.header-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: 44px;
}
.header-nav img {
    width: 16px;
    vertical-align: text-top;
    margin-right: 1px;
}
.header-nav span {
    margin: 0 10px;
}
.header-nav span a {
    display: block;
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
}
.header-nav span:nth-child(2){
    position: absolute;
    line-height: 44px;
    font-size: 16px;
    left: 50%;
    margin-left: -36px;
    font-weight: 700;
}
.content {
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: #f6f7fc;
}
#ap {
    padding: 30px;
    margin: 20px 0;
    width: 85%;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #7a7f8f;
    
}
#ap h4 {
    font-size: 16px;
}
#ap h5 {
    font-weight: 600;
}
#ap-room,
#ap-seat,
#ap-start-time,
#ap-end-time {
    color: #6373ff;
}
.ap-status {
    width: 85%;
    margin-top: 40px;
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.ap-status h4 { 
    font-weight: 700;
    margin-left: 10px;
}
.ap-info {
    width: 100%;
}
.ap-info div {
    float: left;
    padding: 0 15px;
    width: 50%;
    height: 70px;
}
.ap-end-time {
    margin-right: 50%;
}
.ap-info div:nth-child(5),
.ap-info div:nth-child(6),
.ap-info div:nth-child(7) {
    height: 40px;
}
.cancel,
.sign,
.leave,
.quit {
    margin-top: 20px;
    padding: 0 15px;
}
.cancel img,
.sign img,
.leave img,
.quit img {
    width: 16px;
    margin-right: 3px;
    vertical-align: text-top;
}
.sign {
    display: none;
}
button {
    outline: none !important;
}
#sign,
#leave,
#quit,
#cancel {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #6373ff;
    border-radius: 5px;
    color: #6373ff;
}
.weui-dialog,
.weui-mask {
    display: none;
}
.weui-dialog__bd p {
    font-size: 20px;
}
.weui-dialog__bd p i {
    width: 21px;
    height: 21px;
    margin-top: -3px;
}