.header-nav {
    background-color: #fff;
    height: 44px;
    text-align: center;
    line-height: 44px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
.header-nav span {
    font-size: 16px;
    font-weight: 700;
}
.content-nav {
    position: relative;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    border-bottom: 1px solid rgb(240, 239, 239);
    box-sizing: border-box;
}
#undo-btn,
#agree-btn,
#disagree-btn {
    display: inline-block;
    margin-left: 0;
    text-align: center;
    width: 33.33%;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    box-sizing: border-box;
    color: #3c27ff;
    font-weight: 700;
    transition: all 0.4s;
}
#agree-btn,
#disagree-btn {
    color: #a3a3a3;
    font-weight: 400;
}

#pointer {
    display: inline-block;
    position: absolute;
    width: 33.33%;
    height: 2px;
    background-color: #3c27ff;
    bottom: 0;
    left: 0;
    transition: all 0.4s;
}
#undo-content,
#agree-content,
#disagree-content {
    display: flex;
    flex-direction: column;
    align-items:center;
    position: absolute;
    margin-top: 0;
    width: 100%;
    left: 0;
    transition: all 0.5s;
    height: 200px;
    overflow: auto;
}
#agree-content {
    left: 100%;
}
#disagree-content {
    left: 200%
}
.weui-loadmore {
    display: none;
}
.warnning {
    display: none;
    width: 100%;
    margin-top: 150px;
    text-align: center;
    color: rgb(177, 180, 185);
    user-select: none;
}
.warnning img {
    width: 150px;
    margin-bottom: 10px;
}
.ap-info {
    position: relative;
    height: 180px;
    width: 95%;
    min-height: 180px;
    min-width: 300px;
    margin-top: 10px;
    border-radius: 7px;
    background-color: #fff;
    border: 1px solid #88888817;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
.ap-info:first-child {
    margin-top: 15px;
}
.ap-info:last-of-type {
    margin-bottom: 40px;
}
.ap-info img {
    width: 18px;
    vertical-align: text-top;
    margin-right: 1px;
}
.ap-info h4 {
    padding-left: 10px;
    font-weight: 700;
}
.ap-info h5 {
    padding-left: 10px;
    font-weight: 700;
}
#sign-info {
    display: flex;
    flex-direction: column;
    align-items:center;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 150px;
    height: 70px;
    font-weight: 700;
    font-size: 18px;
}
#statistic {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 300px;
    height: 55px;
    bottom: 0;
    align-items: center;
    margin-top: 10px;
    background-color: #fff;
    border-top: 1px solid rgb(240, 239, 239);
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}
#statistic div {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 55px !important;
    background-color: #fff;
    border-radius: 10px;
}
#statistic div span {
    margin: 0 10px;
    font-size: 14px;
}
#statistic img {
    height: 17px;
    margin-right: 1px;
}
#statistic select {
    position: absolute;
    width: 50%;
    left: 45%; 
    height: 50px;
    opacity: 0;
}