* {
    margin: 0;
    padding: 0;
}
a,
a:hover{
    text-decoration: none !important;
}
.header-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: 44px;
}
.header-nav img {
    width: 16px;
    margin-right: 1px;
}
.header-nav span {
    margin: 0 10px;
}
.header-nav span a {
    display: block;
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
}
.header-nav span:nth-child(2){
    position: absolute;
    line-height: 44px;
    font-size: 16px;
    left: 50%;
    margin-left: -36px;
    font-weight: 700;
}
.content {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #f6f7fc;
}
.room-info {
    position: relative;
    background-color: #fff;
    height: 150px;
    padding-bottom: 10px;
}
.room-info img {
    width: 90px;
    border-radius: 50%;
    margin: 20px calc((30% - 90px)/2);
}
.room-info div {
    position: absolute;
    display: inline-block;
    width: 70%;
    top: 20px;
    box-sizing: border-box;
    padding-right: 15px;
}
.room-info h3 {
    color: #060097;
}
.room-info span {
    display: block;
    font-size: 14px;
    color: #999999;
}
.room-info span:nth-child(4) {
    height: 57px;
    overflow: auto;
}
.rec_act {
    width: 100%;
    /* height: 160px; */
    padding: 20px 0 0 15px;
    box-sizing: border-box;
}
.scroll_helper {
    overflow: scroll;
}
.scroll_helper::-webkit-scrollbar {
    width: 0px;
}
.scroll_helper::-o-scrollbar {
    width: 0px;
}
.scroll_helper::-moz-scrollbar {
    width: 0px;
}
.ra_container {
    width: 100%;
}
.ra_container div {
    position: relative;
    display: inline-block;
    width: 220px;
    margin-right: 7px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.07);
    overflow: hidden;
}
.ra_container img {
    display: block;
    max-width: 100%;
    max-height: 125px;
    border-radius: 10px;
}
.ra_container h4 {
    position: absolute;
    bottom: 5px;
    padding: 0 10px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #fff;
}
#warning {
    color: #ccc;
    margin-left: calc(50% - 50px);
}
.mask {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 125px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.scroll_helper {
    overflow: scroll;
}
.selection-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.selection-info div {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 45px;
    background-color: #fff;
}
.using-pn,
.using-date,
.using-reason {
    margin-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.using-type,
.using-duration,
.selection-info div:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.using-tel,
.using-url {
    margin-top: 10px;
    border-radius: 10px;
}
.using-reason:nth-child() {
    margin: 0;
}
.selection-info div:last-child {
    margin-bottom: 70px;
    height: 120px;
}
.selection-info div span {
    margin: 0 10px;
    font-size: 14px;
}
#usable {
    color: #ff7676;
    font-size: 13px;
    display: inline-block;
    width: 100%;
    padding-left: 20px;
    white-space: pre-wrap;
    box-sizing: border-box;
}
.selection-info img {
    width: 17px;
    vertical-align: middle;
    margin-right: 1px;
}
.selection-info select {
    position: absolute;
    width: 50%;
    left: 45%;
    height: 50px;
    opacity: 0;
}
.using-pn input,
.using-tel input,
.using-url input {
    width: 100%;
    outline: none;
    border: 1px solid #99999930;
    height: 30px;
}
div textarea {
    float: left;
    width: 90%;
    margin-left: 5%;
    height: 100px;
    outline: none;
    resize: none;
}
.using-quantum span {
    width: 100px;
}
#quantum-option {
    display: block;
    border: none;
}
#quantum-option span {
    display: inline-block;
    height: 30px;
    width: 25% !important;
    margin: 0 0 7px 6.25%;
    line-height: 28px;
    text-align: center;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
    background-color: #c6e7b7;
}
.input-warnning {
    display: none;
    padding: 3px;
    border-radius: 5px;
}
.start {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 300px;
    height: 56px;
    bottom: 0;
    background-color: #fff;
    border-top: 1px solid rgb(240, 239, 239);
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}
.start div {
    width: 80%;
    margin-top: 8px;
    margin-left: 10%;
    height: 40px;   
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    background: linear-gradient(to right, #271cff, #6373ff) !important;
    border-radius: 20px;
}
.weui-dialog,
.weui-mask {
    display: none;
}
.weui-dialog__bd p {
    font-size: 20px;
}
.weui-dialog__bd p i {
    width: 21px;
    height: 21px;
    margin-top: -3px;
}