* {
    margin: 0;
    padding: 0;
}
a,
a:hover{
    text-decoration: none !important;
}
.header-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: 44px;
}
.header-nav img {
    width: 16px;
    margin-top: -3px;
}
.header-nav span {
    margin: 0 10px;
}
.header-nav span a {
    display: block;
    width: 100%;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
}
.header-nav span:nth-child(2){
    position: absolute;
    line-height: 44px;
    font-size: 16px;
    left: 50%;
    margin-left: -36px;
    font-weight: 700;
}
.content {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.wrapper {
	background-color: #f6f7fc;
	width: 100%;
	text-align: center;
}
.container {
	margin: 0 auto;
	width: 100%;
	text-align: left;
}
.ap-info {
	height: 190px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.07);
	background-color: #fff;
	padding: 10px;
	margin: 20px 0 10px 0;
    overflow-y: scroll;
}
.ap-info div {
	margin: 5px;
}
#seat-container {
    position: relative;
	height: 180px;
	width: 100%;
	background-color: #fff;
    border-radius: 10px;
}
#seats {
    padding: 20px 20px 0 20px;
}
.room_border {
    display: none;
    position: absolute;
    border: 1px solid #ccc;
    width: 100px;
    height: 100px;
    background-color: rgb(249, 249, 249);
}
.door {
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 25px;
    color: #fff;
    background: url("../images/door.svg");
    background-size:  25px;
    border-radius: 1px;
}
.input-warnning {
    margin-left: 20%;
    padding: 3px;
    border-radius: 5px;
    display: none;
}
.input-warnning img {
    width: 17px;
    vertical-align: text-top;
    margin-right: 1px;
}
/* @media (prefers-color-scheme: light) {
    .able {
        background-color: #bef1aa !important;
    }
    .choosen {
        background-color: #ff8126 !important;
    }
} 
@media (prefers-color-scheme: dark) {
    .able {
        background-color: #bef1aa !important;
    }
    .choosen {
        background-color: #ff8126 !important;
    }
}
@media (prefers-color-scheme: no-preference) {
    .able {
        background-color: #bef1aa !important;
    }
    .choosen {
        background-color: #ff8126 !important;
    }
} */
#notice span:first-child {
	margin-left: calc(100% - 170px);
}
#seats button {
	width: 20px;
	padding: 0;
	background-color: #bef1aa;
	border: none;
    outline: none;
    position: absolute;
    z-index: 98;
}
.choosen {
    background-color: #6373ff !important;
}
.using-time,
.using-duration {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-radius: 10px;
}
.using-duration {
    margin-bottom: 80px;
}
.using-time span,
.using-duration span {
    margin: 0 10px;
    font-size: 14px;
    overflow: hidden;
}
.using-time img {
    width: 17px;
    margin-right: 1px;
}
select {
    position: absolute;
    width: 50%;
    left: 45%; 
    height: 50px;
    opacity: 0;
}
.start {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 300px;
    height: 56px;
    bottom: 0;
    background-color: #fff;
    border-top: 1px solid rgb(240, 239, 239);
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    z-index: 99;
}
.start a {
    width: 80%;
    margin-top: 8px;
    margin-left: 10%;
    height: 40px;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    background: linear-gradient(to right, #271cff, #6373ff) !important;
    border-radius: 20px;
    outline: none;
    border: none;
}
.weui-dialog,
.weui-mask {
    display: none;
}
.weui-dialog__bd p {
    font-size: 20px;
}
.weui-dialog__bd p i {
    width: 21px;
    height: 21px;
    margin-top: -3px;
}